sudo: false
language: node_js
node_js:
  - 10
cache: npm
branches:
  only:
    - dev # build master branch only
script:
  - hexo g # generate static files
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GH_TOKEN
  keep-history: true
  on:
    branch: dev
  local-dir: public
  target-branch: master